In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('INSTRUCTOR.db')

In [3]:
cursor_obj = conn.cursor()

In [4]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [5]:
table = """create table IF NOT EXISTS Instructor(ID Integer Primary Key NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
cursor_obj.execute(table)
print("table is ready to populate")

table is ready to populate

In [6]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [7]:
cursor_obj.execute("""
INSERT INTO INSTRUCTOR VALUES (2, 'Ravi', 'Kumar', 'MUMBAI', 'IN')
""")

In [9]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all, type(row_all))

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA') <class 'tuple'>
(2, 'Ravi', 'Kumar', 'MUMBAI', 'IN') <class 'tuple'>

In [11]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(1) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')

In [ ]:
statement = '''SELECT FNAME FROM INSTRUCTOR'''
curosr_obj.execute(statement)
print("all the data")
output_fname = cursor_obj.fetchall()
for fetch in output-