## Tamil Nadu Voter Roll Analysis (234 Assembly Constituencies)

In [2]:
!pip install pandas requests lxml matplotlib openpyxl

Requirement already satisfied: pandas in c:\users\sjaih\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: requests in c:\users\sjaih\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: lxml in c:\users\sjaih\anaconda3\lib\site-packages (5.3.0)
Requirement already satisfied: matplotlib in c:\users\sjaih\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: openpyxl in c:\users\sjaih\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sjaih\anaconda3\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sjaih\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sjaih\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sjaih\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sjaih\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sjaih\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sjaih\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sjaih\anaconda3\lib\site-packages (from requests) (2025.11.12)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\sjaih\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sjaih\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: et-xmlfile in c:\users\sjaih\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\sjaih\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
url_2024 = "https://www.elections.tn.gov.in/ACwise_Gendercount_01012024.aspx"

df_2024 = pd.read_html(url_2024, header=0)[0]
df_2024

,AC No.,Name of Assembly Constituency,Male,Female,Third Gender,Total
0,1,GUMMIDIPOONDI,132777,139802,43,272622
1,2,PONNERI (SC),125362,131296,29,256687
2,3,TIRUTTANI,134160,138174,28,272362
3,4,THIRUVALLUR,127343,133723,28,261094
4,5,POONAMALLEE (SC),180252,187626,69,367947
...,...,...,...,...,...,...
230,231,COLACHAL,135431,132525,15,267971
231,232,PADMANABHAPURAM,120786,119878,25,240689
232,233,VILAVANCODE,117278,119141,4,236423
233,234,KILLIYOOR,124361,120914,21,245296
234,GRAND TOTAL,GRAND TOTAL,30396330,31485724,8294,61890348

In [ ]:
df_2024_ssr = pd.Dataframe()
df_2024_ssr.columns = [
    "AC_Info",
    "Male_2024",
    "Female_2024",
    "ThirdGender_2024",
    "Total_2024"
]
df_2024_ssr[["AC_No", "AC_Name"]] = df_2024["AC_Info"].str.split(" ", n=1, expand=True)
df_2024_ssr["AC_No"] = df_2024_ssr["AC_No"].astype(int)
df_2024_ssr.drop(columns=["AC_Info"], inplace=True)
df_2024_ssr.head()

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements